include ../like/like

mixin review(props)
	- let { name, avatar, quote, date } = props
	div.review
		div.review__author
			div.review__author-avatar
				img.review__author-img(alt=name src=avatar)
			div.review__author-data
				span.review__author-name=name
				span.review__author-date=date
		div.review__quote
			div.review__quote-like
				+like({checked: true, likes: 12})
			blockquote.review__quote-text=quote
