mixin button(props)
  -
    const { type, text, theme, size, isDisabled} = props
    const themes = {
      'filled': 'theme_filled',
      'bordered': 'theme_bordered',
      'arrowed': 'theme_arrowed',
      'texted': 'theme_texted',
    };
    const sizes = {
      'h-small': 'size_h-small',
      'h-large': 'size_h-large',
      'f-small': 'size_f-small',
      'f-large': 'size_f-large',
    }
    const classes = [
      'button',
      `button_${themes[theme]}`,
      `button_${sizes[size]}`
    ]
  button(type=type class=classes disabled=isDisabled)
    span.button__caption=text