mixin button({ type, text, variant, size, isDisabled } = {})
  -
    const variants = {
      'filled': 'variant_filled',
      'bordered': 'variant_bordered',
      'width-arrow': 'variant_width-arrow',
      'texted': 'variant_texted',
    };
    const sizes = {
      'thin': 'size_thin',
      'thick': 'size_thick',
    };
    const classes = [
      'button',
      `button_${variants[variant]}`,
      `button_${sizes[size]}`,
    ];
  button(type=type class=classes disabled=isDisabled)
    span.button__caption= text