mixin button({ type, text, theme, size, isDisabled } = {})
  -
    const themes = {
      'filled': 'theme_filled',
      'bordered': 'theme_bordered',
      'arrowed': 'theme_arrowed',
      'texted': 'theme_texted',
    };
    const sizes = {
      'small': 'size_small',
      'large': 'size_large',
      'middle': 'size_middle',
      'huge': 'size_huge',
    };
    const classes = [
      'button',
      `button_${themes[theme]}`,
      `button_${sizes[size]}`,
    ];
  button(type=type class=classes disabled=isDisabled)
    span.button__caption= text