extends ../../templates/template-uikit/template-uikit

block page-uikit
  -
    const colors = [
      { id: 'opaque', name: 'Dark Shade 100%', hex: '#1F2041' },
      { id: 'dark', name: 'Dark Shade 75%', hex: '#1F2041' },
      { id: 'shady', name: 'Dark Shade 50%', hex: '#1F2041' },
      { id: 'light', name: 'Dark Shade 25%', hex: '#1F2041' },
      { id: 'limpid', name: 'Dark Shade 5%', hex: '#1F2041' },
      { id: 'purple', name: 'Purple', hex: '#BC9CFF' },
      { id: 'green', name: 'Green', hex: '#6FCF97' },
    ]
    const tags = [
      { id: 'first', tag: 'h1', sample: 'This one is the sub-section or widget title' },
      { id: 'second', tag: 'h2', sample: 'Next one is the item title inside widgets' },
      { id: 'third', tag: 'h3', sample: 'This is a label or cta text' },
      { id: 'fourth', tag: 'body', sample: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.' },
    ]

  article.uikit-colors
    section.uikit-colors__colors
      each color in colors
        - const { id, name, hex } = color;
        div.uikit-colors__colors-block
          div(class=`uikit-colors__colors-${id}`)
          div.uikit-colors__colors-value
            span.uikit-colors__value-name= name
            span.uikit-colors__value-hex= hex
    section.uikit-colors__font
      each example in tags
        - const { id, tag, sample } = example
        span(class=`uikit-colors__font-${id}`)= tag
        #{tag === 'body' ? 'span' : tag}(class=`uikit-colors__font-sample-${id}`)= sample