mixin button(btn)
  case btn.mode
    when "picker"
      button.button(type= btn.type class= `button_${btn.mode}`)
        h3.button__caption= btn.text
    when "picker-grey"
      button.button(type= btn.type class= `button_${btn.mode}`)
        h3.button__caption= btn.text
    when "forward"
      button.button(type= btn.type class= `button_${btn.mode}`)
        h3.button__caption= btn.text
    when "come-in"
      button.button(type= btn.type class= `button_${btn.mode}` disabled= btn.disabled)
        h3.button__caption= btn.text
    when "registration"
      button.button(type= btn.type class= `button_${btn.mode}` disabled= btn.disabled)
        h3.button__caption= btn.text
    default
      button.button(type="button")