mixin button(btn)
	case btn.mode
		when "picker"
			button.button(type= btn.type class= `button_${btn.mode}`)
				span.button__caption= btn.text
		when "picker-grey"
			button.button(type= btn.type class= `button_${btn.mode}`)
				span.button__caption= btn.text
		when "width-arrow"
			button.button(type= btn.type class= `button_${btn.mode}`)
				span.button__caption= btn.text
				div.button__arrow
		when "come-in"
			button.button(type= btn.type class= `button_${btn.mode}`)
				span.button__caption= btn.text
		when "arrow-gradient"
			button.button(type= btn.type class= `button_${btn.mode}`)
				div.button__arrow
		when "arrow-left"
			button.button(type= btn.type class= `button_${btn.mode}`)
				div.button__arrow
		when "arrow-right"
			button.button(type= btn.type class= `button_${btn.mode}`)
				div.button__arrow
		when "dropdown"
			button.button(type= btn.type class= `button_${btn.mode}`)
		when "registration"
			button.button(type= btn.type class= `button_${btn.mode}`)
				span.button__caption= btn.text
		default
			button.button(type="button")