mixin heading({ text, variant } = {})
  -
    const variants = {
      h1: 'h1',
      h2: 'h2',
      h3: 'h3',
      form: 'h2',
    };
    const tag = variants[variant] ?? 'h3';

  #{tag}.heading
    if (variant === 'form')
      - const { number, level, price } = text;
      div.heading__info
        span.heading__info-number= number
        span.heading__info-level= level
      div.heading__price
        span.heading__price-amount= price
        span.heading__price-text &nbsp;в сутки
    else
      span(class=`heading-tag${tag}`)= text