mixin heading({ text, variant } = {})
  -
    let tag = 'h3';
    const variants = ['h1', 'h2', 'h3', 'numeric'];
    if (variant === 'numeric') {
      tag = 'h2';
    } else if (variants.indexOf(variant) !== -1) {
      tag = variant;
    }

  if (variant === 'numeric')
    - const { number, level } = text;
    #{tag}.heading
      span.heading__number= number
      span.heading__level= level
  else
    #{tag}.heading(class=`heading-tag${tag}`)= text