include ../button/button

mixin header({links, name} = {})
  -
    const {
      logo,
      about,
      services,
      servicesItems,
      vacancies,
      news,
      agreements,
      agreementsItems,
    } = links;

  div.header__wrapper
    div.header
      img.header__logo(alt="logo" src=logo)
      nav.header__menu
        ul.header__menu-items
          li.header__menu-item
            a.header__menu-ref(href=about) О нас
          li.header__menu-item
            a.header__menu-ref(href=services) Услуги
            button.header__submenu(type="button")
            ul.header__submenu-items
              li.header__submenu-item
                a.header__menu-ref(href=servicesItems[0]) Услуга 1
              li.header__submenu-item
                a.header__menu-ref(href=servicesItems[1]) Услуга 2
          li.header__menu-item
            a.header__menu-ref(href=vacancies) Вакансии
          li.header__menu-item
            a.header__menu-ref(href=news) Новости
          li.header__menu-item
            a.header__menu-ref(href=agreements) Соглашения
            button.header__submenu(type="button")
            ul.header__submenu-items
              li.header__submenu-item
                a.header__menu-ref(href=agreementsItems[0]) Соглашение 1
              li.header__submenu-item
                a.header__menu-ref(href=agreementsItems[1]) Соглашение 2
      if(name)
        div.header__menu-separator
        output.header__menu-user= name
      else
        div.header__button
          +button({type: "button", theme: "bordered", size: "small", text: "Войти"})
        div.header__button
          +button({type: "button", theme: "filled", size: "large", text: "Зарегистрироваться"})