include ../button/button

mixin header({ data, name } = {})
  -
    const { logo, navItems } = data;
    const id = Math.random();

  form.header
    div.header__wrapper
      img.header__logo(alt="logo" src=logo)
      input.header__checkbox(type="checkbox" id=id)
      label.header__button(for=id)
      nav.header__menu
        ul.header__menu-items
          each menuItem in navItems
            - const { hrefMenu, captionMenu, subMenu } = menuItem;
            li.header__menu-item
              if(subMenu)
                span.header__submenu(tabindex="-1")= captionMenu
                ul.header__submenu-items
                  each submenuItem in subMenu
                    - const { href, caption } = submenuItem;
                    li.header__submenu-item
                      a.header__submenu-ref(href=href)= caption
              else
                a.header__menu-ref(href=hrefMenu)= captionMenu
      if(name)
        div.header__user
          span.header__user-name= name
      else
        div.header__sign-in
          +button({type: "button", variant: "bordered", size: "thin", text: "Войти"})
        div.header__sign-up
          +button({type: "button", variant: "filled", size: "thin", text: "Зарегистрироваться"})