mixin copyright({ theme, content } = {})
  -
    const themes = { 'tablet': 'copyright_theme_tablet' };
    const { logo, caption, links } = content;
    const { src, alt } = logo;

  div.copyright(class=themes[theme])
    div.copyright__wrapper
      img.copyright__logo(src=src alt=alt)
      p.copyright__caption= caption
      div.copyright__social
        - for (let i = 0; i < links.length; i++)
          a.copyright__social-icon(href=links[i] target="_blank" rel="noopener noreferrer")