mixin copyright({ theme, content } = {})
  -
    const themes = { 'logotype': 'copyright_theme_logotype' };
    const { logo, caption, links } = content;
    const { src, alt } = logo;

  div.copyright(class=themes[theme])
    div.copyright__wrapper
      img.copyright__logo(src=src alt=alt)
      p.copyright__caption= caption
      div.copyright__social
        each link in links
          a.copyright__social-icon(href=link target="_blank" rel="noopener noreferrer")