include ../like/like

mixin review(props)
	div.review
		div.review__author
			div.review__author-avatar
				img.review__author-img(alt=props.name src=props.avatar)
			div.review__author-data
				span.review__author-name=props.name
				span.review__author-date=props.date
		div.review__quote
			div.review__quote-like
				+like({checked: true, likes: 12})
			blockquote.review__quote-text=props.quote
