mixin rate-button
	form.rate-button
		-let random = Math.random()
		-for (let i = 5; i >= 1; i--)
			input(type="radio" name = `${random}` id = `${random}-${i}` value = `${i}`).rate-button__radio
			label(for = `${random}-${i}`).rate-button__star