mixin rate-button
	form.rate-button
		-let random = Math.random()
		-for (let i = 5; i >= 1; i--)
			input.rate-button__radio(type="radio" name = `${random}` id = `${random}-${i}` value = `${i}`)
			label.rate-button__star(for = `${random}-${i}`)